- @content_class = 'limit-container-width' unless fluid_layout
- add_to_breadcrumbs _('Kubernetes Clusters'), clusterable.index_path
- breadcrumb_title _('Connect a cluster')
- page_title _('Connect a Kubernetes Cluster')

.gl-md-display-flex.gl-mt-3
  .gl-w-quarter.gl-xs-w-full.gl-flex-shrink-0.gl-md-mr-5
    = render 'sidebar', is_connect_page: true
  .gl-w-full
    #js-cluster-new{ data: js_cluster_new }
    = render 'clusters/clusters/user/form'
